/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#login, h1, h2, h3, h4, h5, p, button, ul, #section-7{font-family: 'gtWalsheim';}
/*h1 { font-size: 7vw; font-weight: 600; line-height: 0.8; margin-top: 200px}*/
h1 { font-size: 81px; font-weight: 600; line-height: 0.8; margin-top: 200px}
h2 { font-size: 40px; font-weight: 600 }
h3 { font-size: 24px; font-weight: 600 }
h4 { font-size: 40px; font-weight: 600 }
h2:after  { content: ""; display: block; width: 35px; height: 4px; margin: 17px 0 0; background: #000; }
/*h4:before  { content: ""; display: block; width: 35px; height: 4px; margin: 170px 10px ; text-align: right; float: right; background: #000; }*/
button { background-color: #ffa400; border-style: none; padding: 10px 20px 10px 20px; }
#button { position: absolute; bottom: 60px; width: 100%}
#section-2 p { font-size: 24px; font-weight: 500 }
#section-3 p, #login, ul, button { font-size: 14px; font-weight: 500 }
#graph-2 ul{ font-size: 14px; font-weight: 600  }
.footer-1 { font-size: 14px; font-weight: 500; line-height: 4px; }
.footer-2 { font-size: 24px; }
.footer-3 ul{ font-size: 14px; font-weight: 400  }
#login {font-weight: 600; margin-top: 30px; margin-left: -50px;}
section {position: relative; display: block;}
#section-1 { height: 60px; }
#section-2 { max-height: 720px; color: white}
#section-3 { height: 360px; background-repeat: white; }
#section-4 { height: 390px; background-color: #f3f2f2; }
#section-5 { height: 380px; background-color: white}
#section-6 { height: 388px; background-color: #f3f2f2;}
#section-7 { height: 192px; background-color: black; color: white;}
#logo {  background-image: url(../assets/logo/logo.svg); background-repeat: no-repeat; height: 25px; margin-top: 20px;}
#icon-1 {  background-image: url(../assets/icons/Icon1.svg); background-repeat: no-repeat; height: 110px; margin-top: 20px;}
#icon-2 {  background-image: url(../assets/icons/Icon2.svg); background-repeat: no-repeat; height: 110px; margin-top: 20px;}
#icon-3 {  background-image: url(../assets/icons/Icon3.svg); background-repeat: no-repeat; height: 110px; margin-top: 20px;}
#graph-1 {  background-image: url(../assets/svggraphs/Donutgraph.svg); background-repeat: no-repeat; height: 270px; margin-top: 20px;}
#graph-2 {  background-image: url(../assets/svggraphs/Linegraph.svg); background-repeat: no-repeat; height: 270px; margin-top: 20px;}
#graph-3 {  background-image: url(../assets/logo/Artwork-37.gif); background-repeat: no-repeat; background-size: 100%; height: 54px; width: 54px; }
#graph-4 {  background-image: url(../assets/logo/Artwork-38.gif); background-repeat: no-repeat; background-size: 100%; height: 54px; width: 54px; }
#graph-5 {  background-color: red; width: 330px; height: 20px; margin-top: 20px;}
.grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(229,49,48,1),rgba(50,75,237,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(229,49,48,1),rgba(50,75,237,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(229,49,48,1),rgba(50,75,237,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(229,49,48,1),rgba(50,75,237,1)); /*Standard*/
}
.politic { float: right; text-align: right; margin-left: 20px;}
.icon { background-position: center; }
.azultx {color: #324bed; }
.aquatx {color: #00dc96; }
.yellostx {color: #ffa400; }
.purpletx {color: #8820e2; }
.redtx {color: #e53030
; }
/*#sectiom-2 {  background-image: url(../assets/avi-richards.jpg); background-repeat: no-repeat; height: 720px; }*/
/*#section-2 { background-image: url(../assets/avi-richards-c.jpg); background-size: 100% auto; background-repeat: no-repeat;}*/
/*#section-2 img { top: -500px; padding-top: -500px; margin-top: -500px;}*/
ul {list-style-type: none;}
#section-4 ul, #section-6 ul{ margin-left: -40px; }
#graph-2 ul li{ margin: 2.5px -20px;  }
.lne { line-height: 0; letter-spacing: -3pt }
.poli { position: absolute; bottom: 100px; }

/*.polirate { bottom: 110px; position: absolute; }*/
/*h1:after { content: ""; display: block; width: 96px; height: 3px; margin: 17px 0 0; background: #f72e51; }
h3:after  { content: ""; display: block; width: 96px; height: 3px; margin: 17px 0 0; background: #fff; }
h1, h3, h4, h6 { position: relative; margin: 0 0 45px; font-weight: 600; font-family: 'Sofia', 'Proxima', Arial, Helvetica, sans-serif; line-height: 1.1; }
section ul { list-style-type: none;}
.list-b { list-style: none; padding: 0; }
.list-b li { position: relative; margin: 0 0 38px; padding: 0 0 0 60px; font-weight: 600; font-size: 20px; font-family: 'Proxima', Arial, Helvetica, sans-serif !important;}
.list-b i { display: block; position: absolute; left: 0; top: 50%; width: 30px; margin: -20px 0 0; color: #4b69c2; font-size: 30px; line-height: 40px; text-align: left; }
.list-b i.icon-users { font-size: 17px; }
.list-b i.icon-user-calendar { font-size: 24px; }
.list-b i.icon-server { font-size: 26px; }
.list-b i.icon-user-dollar { font-size: 28px; }

ul, ol, dd, blockquote { padding-left: 40px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }*/
    
    /*social section*/
/*.social-a { list-style: none; padding: 0; vertical-align: top; }
.social-a li { display: inline-block; padding: 0 7px; }
.social-a a { display: inline-block; overflow: hidden; position: relative; width: 146px; height: 50px; border-radius: 3px; border: 1px solid #fff; color: #fff; font-size: 32px; font-weight: 400; text-decoration: none; text-align: left; text-indent: -3000em; }
.social-a i { display: block; position: absolute; left: 0; top: 50%; width: 100%; margin: -30px 0 0; font-family: i; line-height: 60px; text-align: center; text-indent: 0; text-decoration: none; }
.social-a i.icon-google-play { font-size: 34px; }
*/






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (min-width: 700px) {

    /*h1 { font-size: 81px; font-weight: 600; line-height: 0.8; margin-top: 200px}*/
    /* =General */
    
    /* =Header */

    /* =Footer */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/*! Fonts --------- */
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Ultra-Light.otf'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Ultra-Light-Oblique.otf'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Thin.otf'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Thin-Oblique.otf'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Light.otf'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Light-Oblique.otf'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Regular.otf'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Regular-Oblique.otf'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Medium.otf'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Medium-Oblique.otf'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Bold.otf'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Bold-Oblique.otf'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Black.otf'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Black-Oblique.otf'); font-weight: 800; font-style: italic; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Ultra-Bold.otf'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'gtWalsheim'; src: url('fonts/GT-Walsheim-Ultra-Bold-Oblique.otf'); font-weight: 900; font-style: italic; }